asgiref==3.11.0
diff-match-patch==20241021
Django==5.2.10
django-import-export==4.4.0
gunicorn==25.1.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
tzdata==2025.3
